- 1번: 23분

In [1]:
def function():
    return

In [76]:
# 1번: 그리디
def function(N, M ,K, N_num):
    N_num.sort(reverse=True)
    first = N_num[0]
    second = N_num[1]
    sum = 0
    condition = K
    
    for i in range(M):
        if condition > 0:
            sum += first
        else:
            sum += second
            condition = K
        condition -= 1
        
    return sum

5 8 3

2 4 5 4 6

5 7 2

3 4 3 4 3

In [ ]:
N, M, K = map(int, input().split())
data = list(map(int, input().split()))

In [ ]:
function(N, M ,K, data)

In [80]:
# 2번: 그리디 + 수학 아이디어
def function(N, M ,K, N_num):
    N_num.sort(reverse=True)
    first = N_num[0]
    second = N_num[1]
    sum = 0
    
    repeat_count = M // (K+1)
    remain_count = M % (K+1)
    sum = (first*K + second)*repeat_count + (first*remain_count)
    
    return sum

In [83]:
N, M, K = map(int, input().split())
data = list(map(int, input().split()))

 5 7 2
 3 4 3 4 3

In [84]:
function(N, M ,K, data)

28